#beers-list {
	background: black;
	color: white;
	min-height: 20vh;
	padding: 3em 0;
}
#beers-list .container {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	max-width: 1000px;
	margin: 0 auto;
}