.beer-category-box {
	max-width: 200px;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
}
.beer-category-box a {
	text-decoration: none;
}

.beer-category-box figure {
	margin: 0;
}
.beer-category-box figure a {
	display: block;
	transition: all .2s ease-in-out;
} .beer-category-box figure a:hover {
	margin-top: -.8em;
}